body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Playfair Display";
  text-transform: capitalize;
}

p,
li {
  font-family: "Lato";
}

ul {
  list-style: none;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: transparent;
  height: fit-content;
  width: 100%;
}
header #hamburger {
  cursor: pointer;
  margin: 15px 15px;
  display: block;
  height: fit-content;
  width: 25px;
}
header #hamburger .hamburger-bar {
  width: 100%;
  height: 3px;
  display: block;
  margin-bottom: 5px;
  background-color: rgb(255, 255, 255);
  transition: transform 0.3s ease-in-out;
}
header #hamburger .hamburger-bar:last-child {
  margin-bottom: 0;
}
header #hamburger.active .hamburger-bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
header #hamburger.active .hamburger-bar:nth-child(2) {
  opacity: 0;
}
header #hamburger.active .hamburger-bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
header nav {
  display: none;
}
header nav ul {
  flex-direction: column;
  padding: 0 10px;
  margin: 0;
  list-style: none;
}
header nav ul li {
  margin: 10px 0;
}
header nav ul li a {
  display: block;
  text-decoration: none;
  color: #f4f0ed;
  padding: 10px;
}
header nav ul li a:hover {
  font-weight: bold;
}
header .nav-open {
  display: block;
  background-color: #2f5266;
}

main {
  height: 100%;
  width: 100%;
  position: relative;
}
main .section {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .section .content {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
main .hero {
  background-color: #2f5266;
  color: #f4f0ed;
  text-align: center;
}
main .motifs {
  background-color: #f4f0ed;
  color: #2f5266;
}
main .motifs .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .motifs .content .motif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
main .motifs .content .motif svg {
  height: 10vw;
  min-height: 50px;
}
main .motifs .content .motif p {
  margin-top: 5px;
  text-align: center;
}
main .about {
  background-color: #2f5266;
  color: #f4f0ed;
}
main .about .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .about .content .right {
  border-radius: 50%;
  border: solid 2px #dea681;
  width: 53vw;
  height: 53vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
main .about .content .right img {
  border-radius: 50%;
  object-fit: cover;
  width: 50vw;
  height: 50vw;
  border: solid #f4f0ed 2px;
}
main .about .content .left p {
  text-align: center;
}
main .contact {
  background-color: #f4f0ed;
  color: #2f5266;
}

footer {
  background-color: #2f5266;
  color: #f4f0ed;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

@media (min-width: 768px) {
  header #hamburger {
    display: none;
  }
  header nav {
    display: flex;
    justify-content: center;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    padding: 0;
  }
  header nav ul li {
    margin: 0 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
