.hero {
  background-color: $primary;
  color: $secondary;
  text-align: center;
  justify-content: space-between;
  padding: 0;
  .content {
    margin-top: 20vh;
  }
  .logo-container {
    height: 50vh;
    width: 50vw;
    min-width: 350px;
    display: flex;
    align-items: end;
    .logo {
      background-image: url("../svg/logo_black\ 1.svg");
      background-position: center bottom;
      background-size: contain;
      background-repeat: no-repeat;
      height: 80%;
      width: 100%;
    }
  }
}
