.motifs {
  background-color: $secondary;
  color: $primary;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .motif {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
      svg {
        height: 10vw;
        min-height: 50px;
      }
      p {
        margin-top: 5px;
        text-align: center;
      }
    }
  }
}

@media (min-width: 768px) {
  .motifs {
    h2 {
      margin-bottom: 100px;
    }
    .content {
      display: flex;
      flex-direction: row!important;
      .motif {
        height: 35vh;
        justify-content: start;
        p {
          margin-top: 20px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .motifs {
    h2 {
      align-self: center;
      margin-bottom: 5vw;
    }
    .content {
      display: flex;
      flex-direction: row!important;
      justify-content: space-evenly;
      width: 60vw;
      .motif {
        p {
          margin-top: 20px;
          font-size: 1.5vw;

        }
      }
    }
  }
}