$primary: #2f5266;
$secondary: #f4f0ed;
$tumbleweed: #dea681;

body {
  margin: 0;
}

h1,
h2 {
  font-family: "Playfair Display";
  text-transform: capitalize;
}

h3 {
  font-family: "Lato";
  text-transform: uppercase;
}

p,
li {
  font-family: "Lato";
}

ul {
  list-style: none;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
}

a {
  text-decoration: none;
  color: #2f5266;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: transparent;
  height: fit-content;
  width: 100%;
  #hamburger {
    cursor: pointer;
    margin: 15px 15px;
    display: block;
    height: fit-content;
    width: 25px;
    .hamburger-bar {
      width: 100%;
      height: 3px;
      display: block;
      margin-bottom: 5px;
      background-color: rgb(255, 255, 255);
      transition: transform 0.3s ease-in-out;

      &:last-child {
        margin-bottom: 0;
      }
    }
    &.active {
      & .hamburger-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      & .hamburger-bar:nth-child(2) {
        opacity: 0;
      }
      & .hamburger-bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
  nav {
    display: none;
    ul {
      flex-direction: column;
      padding: 0 10px;
      margin: 0;
      list-style: none;
      li {
        margin: 10px 0;
        a {
          display: block;
          text-decoration: none;
          color: $secondary;
          padding: 10px;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }

  .nav-open {
    display: block;
    background-color: $primary;
  }
}

main {
  height: 100%;
  width: 100%;
  position: relative;
  .section {
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content {
      max-width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
  }
  .hero {
    background-color: $primary;
    color: $secondary;
    text-align: center;
    justify-content: space-between;
    .content {
      margin-top: 20vh;
    }
    .logo-container {
      height: 35vh;
      width: 350px;
      .logo {
        background-image: url("../svg/logo_black\ 1.svg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        bottom: 0;
        height: 100%;
      }
    }
  }
  .motifs {
    background-color: $secondary;
    color: $primary;
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .motif {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        svg {
          height: 10vw;
          min-height: 50px;
        }
        p {
          margin-top: 5px;
          text-align: center;
        }
      }
    }
  }
  .about {
    background-color: $primary;
    color: $secondary;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .right {
        border-radius: 50%;
        border: solid 2px $tumbleweed;
        width: 53vw;
        height: 53vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        img {
          border-radius: 50%;
          object-fit: cover;
          width: 50vw;
          height: 50vw;
          border: solid $secondary 2px;
        }
      }
      .left {
        p {
          text-align: center;
        }
      }
    }
  }
  .contact {
    background-color: $secondary;
    color: $primary;
    .content {
      .doctolib {
        display: block;
        text-align: center;
        background-color: #0596de;
        color: #ffffff;
        font-size: 14px;
        overflow: hidden;
        border-radius: 4px;
        line-height: 35px;
        margin: 0 5px;
        img {
          height: 15px;
          margin-bottom: 3px;
          vertical-align: middle;
          width: auto;
        }
      }
    }
    .badges {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }
    .badge {
      border: 2px solid hsl(14, 33%, 90%);
      border-radius: 5px;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 100px;
      width: 40vw;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      .badge-svg {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        svg {
          grid-column: 1;
          margin: 5px;
          object-fit: contain;
          width: 80%;
        }
      }
      .badge-text {
        text-align: center;
      }
    }
  }
}

footer {
  background-color: $primary;
  color: $secondary;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    background-color: $secondary;
    color: $primary;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    ul {
      list-style:disc;
      li{
        margin-top: 5px;
        a {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

.trigger-modal {
  cursor: pointer;
}

@media (min-width: 768px) {
  header {
    #hamburger {
      display: none;
    }

    nav {
      display: flex;
      justify-content: center;
      ul {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        padding: 0;
        li {
          margin: 0 10px;
        }
      }
    }
  }
}
