@import "reset";

$primary-color: #fdfaf1;
$secondary-color: #0a5f5f;

nav {
  a {
    text-decoration: none;
    outline: none;
  }
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100vw;
  }
  text-transform: uppercase;
  font-weight: bold;
}

body {
  background-color: $primary-color;
  color: $secondary-color;
}

.hero {
  background-color: $secondary-color;
  color: $primary-color;
  height: 100vh;
  width: 100vw;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  height: 100vh;
}

.motifs {
  height: 100vh;
  
}

.contacts {
  height: 100vh;
}